.header {
  background-color: #282c34;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: height 0.2s ease-out;
  flex-wrap: wrap;
}

.container.badges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.container.align-right {
  justify-content: flex-end;
}
.header {
  font-size: 30px;
  color: white;
  padding: 20px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank {
  display: flex;
  flex-direction: column;
}

.rank-info {
  display: flex;
  align-items: left;
  max-width: 800px;
  flex-direction: column;
}

.rank .rank-title {
  padding-top: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

main a {
  color: #fff;
  text-decoration: none;
}

.setup-customer {
  margin: 25px 0;
}

a:hover {
  text-decoration: none;
}

.status-area {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eaeaea;
}

.badgeImage {
  height: 100px;
  padding-right: 0.5em;
  vertical-align: middle;
}

.create-button {
  padding-top: 40px;
}

.achievement {
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.achievement img {
  object-fit: contain;
  padding-bottom: 25px;
}

.badge-description {
  text-align: center;
  font-size: 18px;
}

.screenshot {
  margin-top: 25px;
}
