.header {
  background-color: #282c34;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.header {
  font-size: 30px;
  color: white;
  padding: 20px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank {
  display: flex;
  align-items: center;
}

.rank .rank-title {
  padding-left: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

main a {
  color: #282c34;
  text-decoration: none;
}

a:hover {
  color: #00aec6;
  text-decoration: none;
}

.status-area {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eaeaea;
}
